<body>
  <div class="dashboard-container">
    <div class="datos-usuario">
      <div class="info-usuario">
        <h2>{{ nombre }}, {{ edad }} años</h2>
        <p><strong>Objetivo Físico:</strong></p>
        <div class="objetivo-container">
          <div *ngIf="!editandoObjetivo">
            <p>{{ objetivoFisico }}</p>
          </div>
          <div *ngIf="editandoObjetivo">
            <input
              type="text"
              [(ngModel)]="objetivoTemporal"
              class="input-objetivo"
            />
            <button (click)="guardarObjetivo()" class="btn-guardar">
              Guardar
            </button>
            <button (click)="cancelarEdicion()" class="btn-cancelar">
              Cancelar
            </button>
          </div>
        </div>
        <div class="peso-container">
          <div *ngIf="!editandoPeso">
            <p>
              <strong>Peso inicial:</strong> {{ pesoInicial }} kg
              <strong>Peso actual:</strong> {{ pesoActual }} kg
            </p>
          </div>
          <div *ngIf="editandoPeso">
            <input
              type="number"
              [(ngModel)]="pesoTemporal"
              class="input-peso"
              step="0.1"
            />
            <button (click)="guardarPeso()" class="btn-guardar">Guardar</button>
            <button (click)="cancelarEdicionPeso()" class="btn-cancelar">
              Cancelar
            </button>
          </div>
        </div>
        <p><strong>Índice de grasa corporal:</strong> {{ grasaCorporal }}%</p>
      </div>
      <div class="botones-usuario">
        <button class="btn-cambiar-objetivo" (click)="editarDatos()">
          Editar datos personales
        </button>
        <button class="btn-cambiar-objetivo" (click)="cambiarObjetivo()">
          Cambiar objetivo
        </button>
      </div>
    </div>

    <div class="plan-entrenamiento">
      <h3>Plan de Entrenamiento</h3>
      <div class="dias-container">
        <div class="dia" *ngFor="let dia of planEntrenamiento">
          <h4>Día {{ dia.day }}</h4>
          <p>{{ dia.routineName }}</p>
          <ul>
            <li *ngFor="let ejercicio of dia.exercises?.slice(0, 2)">
              <p>{{ ejercicio.name }}</p>
            </li>
          </ul>
          <p *ngIf="dia.exercises && dia.exercises.length > 2">
            y {{ dia.exercises.length - 2 }} más...
          </p>
          <button class="btn-editar-rutina" (click)="editarRutina(dia)">
            Ver
          </button>
        </div>
      </div>
      <div class="botones-usuario">
        <button class="btn-agregar-rutina" (click)="agregarRutina()">
          Nueva Rutina
        </button>
      </div>
    </div>

    <div class="progreso-info">
      <h2>Progreso</h2>
      <h3>Evolución del peso</h3>

      <div class="peso-actual-container">
        <div *ngIf="!editandoPeso">
          <p><strong>Peso actual:</strong> {{ pesoActual }} kg</p>
          <button (click)="agregarPeso()" class="btn-editar">
            <i class="fas fa-edit"></i> Actualizar Peso
          </button>
        </div>
        <div *ngIf="editandoPeso">
          <input
            type="number"
            [(ngModel)]="pesoTemporal"
            class="input-peso"
            step="0.1"
            placeholder="Nuevo peso"
          />
          <button (click)="guardarPeso()" class="btn-guardar">Guardar</button>
          <button (click)="cancelarEdicionPeso()" class="btn-cancelar">
            Cancelar
          </button>
        </div>
      </div>

      <select class="dropdown">
        <option value="semana">Por Semana</option>
        <option value="mes">Por Mes</option>
        <option value="año">Por Año</option>
      </select>

      <div class="chart-container">
        <canvas #pesoChart></canvas>
      </div>
    </div>
  </div>
</body>

<footer class="footer">
  <p>© 2024 MuscleHub. Todos los derechos reservados.</p>
</footer>
