<body>
  <div class="container">
    <h1>Rutina</h1>

    <div class="day-card">
      <h2 class="day-title">{{ Routine.day }}</h2>
      <p class="muscle-groups">{{ Routine.routineName }}</p>

      <div class="exercise-list">
        <div *ngFor="let exercise of Routine.exercises" class="exercise-card">
          <div class="image-container">
            <!-- Si hay imagen, se renderiza, si no, se muestra un mensaje -->
            <img
              *ngIf="exercise.imageUrl"
              [src]="exercise.imageUrl"
              [alt]="'Demostración de ' + exercise.name"
            />
            <div
              *ngIf="!exercise.imageUrl"
              class="w-full h-full flex items-center justify-center text-muted-foreground"
            >
              Imagen del ejercicio
            </div>
          </div>
          <h3>{{ exercise.name }}</h3>
          <p>{{ exercise.description }}</p>
          <div class="exercise-info">
            <div>
              <p>Series</p>
              <p>{{ exercise.sets }}</p>
            </div>
            <div>
              <p>Repeticiones</p>
              <p>{{ exercise.reps }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="botones-usuario">
        <button (click)="EditarRutina()">Editar rutina</button>
        <button (click)="EliminarRutina()">Eliminar rutina</button>
        <button (click)="Atras()">Atrás</button>
      </div>
    </div>
  </div>
</body>
<footer class="footer">
  <p>© 2024 MuscleHub. Todos los derechos reservados.</p>
</footer>
