<div class="navbar">
  <div class="navbar-left">
    <h1 class="app-name">MuscleHub</h1>
  </div>

  <div class="navbar-right">


    <div class="account-menu-wrapper">
      <div class="account-menu-toggle" (click)="menuAbierto = !menuAbierto">
        <span>Cuenta</span>
        <i class="fas fa-chevron-down" [class.rotate]="menuAbierto"></i>
      </div>

      <ul class="dropdown-menu" *ngIf="menuAbierto">
        <li (click)="logout()">Cerrar sesión</li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
