<div *ngIf="bddData && bddData.length > 0; else loading">
  <h2>Clientes</h2>
  <ul>
    <li *ngFor="let item of bddData">
      <p><strong>Nombre:</strong> {{ item?.name }}</p>
      <p><strong>Peso Actual:</strong> {{ item?.actualWeight }}</p>
      <p><strong>stature:</strong> {{ item?.stature }}</p>
      <p><strong>age:</strong> {{ item?.age }}</p>
      <p><strong>id:</strong> {{ item?.id }}</p>
      <p><strong>Peso Actual:</strong> {{ item?.actualWeight }}</p>

      <hr>
    </li>
  </ul>
</div>

<ng-template #loading>
  <p>Cargando datos...</p>
</ng-template>
